/*
--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** @MEDIA
*/

/* BODY */
*{
	margin:0;
	padding: 0;
}
body{
	padding-left: 201px; 

}


	/*FONTES EXTRAS*/
		@font-face {
			font-family: 'antiqueoliveregular';
			src: url('fonts/antiqueolive_regular-webfont.woff2') format('woff2'),
			url('fonts/antiqueolive_regular-webfont.woff') format('woff');
			font-weight: normal;
			font-style: normal;

		}
		@font-face {
		    font-family: 'barbarowestern';
		    src: url('fonts/barbaro.western-webfont.woff2') format('woff2'),
		    url('fonts/barbaro.western-webfont.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;

		}




		@font-face {
		    font-family: 'bebas_neueregular';
		    src: url('fonts/bebasneue-webfont.woff2') format('woff2'),
		    url('fonts/bebasneue-webfont.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;

		}
	
	/*TOPO*/
		.topo{
			width:200px;
			border-right: #fff solid 2px;
			background: url(img/fundo-menu.png);
			padding: 5px;
			position: fixed;
			left: 0;
			min-height: 700px;
		    top: 0;
		    z-index: 3;
		    display: block;

		}
			.topo a{

			}
				.topo a h1{
					width: 180px;
					margin: 90px auto 0;					
					height: 85px;
					text-indent: -9999em;

					background: url(img/logo-branca-oficial.png) no-repeat;
						

				}
			
				.topo .nav .botao-menu-ativo{
					width: 50px;
					height: 40px;
					background: url(img/fundo-menu.png);					
					border: solid 1px #fff;
					position: absolute;
					color: #fff;
					text-align: center;
					font-size: 25px;
					right: -52px;
					
					display: none;
					cursor:pointer;
					top:0;
					border-left:none;

				}
				
					.topo .nav::-webkit-scrollbar-track {
						background-color: #F4F4F4;
					}
					.topo .nav::-webkit-scrollbar {
						width: 6px;
						background: #F4F4F4;
					}
					.topo .nav::-webkit-scrollbar-thumb {
						background: #dad7d7;
					}	
				.topo ul{
					list-style: none;
					margin:80px 0;
					padding: 0;
					height:200px;
				
				}
					.topo ul li{					
						padding: 0;
						text-align: center;
						border:none;					
						line-height: 75px;
						padding: 0 10px;
					    min-height: 65px;
				        margin-top: 10px;

					}
					.topo ul .topo-borda{
						border-bottom: solid 1px #ccc;
					}
						.topo ul .topo-borda:hover{
							border-color:#7dc0f9;
						}
						.topo ul li:hover{
							background:#7dc0f9!important;
						}
						.topo ul li a{
							color: #fff;
							font-size: 25px;
							text-transform: uppercase;
							display: block!important;
							height: 65px;
							text-decoration: none;
							font-family: 'bebas_neueregular';
							letter-spacing: 2px;					
							width: 100%;


						}
	
	/*FOOTER*/
		.rodape{
			margin-top:50px;
		}
			.rodape .mapa{
				width:100%;
				min-height: 801px;				
				position: relative;
				overflow:hidden;
			}		
				.rodape .mapa .redessociais{
				    position: absolute;
				    z-index: 2;
				    right: 0;
			        top: 10%;
			        
				}
					.rodape .mapa .redessociais a{
						display: block;
						width: 60px;
						height: 60px;
						background: #231f20;
						text-align: center;
						color: #fff;
						font-size: 30px;
						margin-top: 1px;
						padding: 10px 0;
						transition:All .5s ease;
						-webkit-transition:All .5s ease;
						-moz-transition:All .5s ease;
						-o-transition:All .5s ease;
					}
						.rodape .mapa .redessociais a:hover{
							background:#42a7ff;
							transition:All .5s ease;
							-webkit-transition:All .5s ease;
							-moz-transition:All .5s ease;
							-o-transition:All .5s ease;
						}
				.rodape .mapa .info-rodape{
					position: absolute;
					right: 0;
					min-height: 800px;
					width: 100%;
					max-width: 800px;
					background:rgba(66, 167, 255, 0.85);
					z-index: 1;
				}
					.rodape .mapa .info-rodape img{
					    margin: 60px auto;
					    padding:10px;
					}	
					.rodape .mapa .info-rodape .info-contato-endereco{
						width: 100%;
						max-width: 555px;
						margin: 20px auto;
					}
						.rodape .mapa .info-rodape .info-contato-endereco span{
							font-family: "bebas_neueregular";
							color: #231f20;
							font-size: 24px;
							display: block;
							font-weight: normal;
							letter-spacing: 2px;
						}
						.rodape .mapa .info-rodape .info-contato-endereco a{
							color: #231f20;
							font-size: 30px;
							text-transform: uppercase;
							letter-spacing: 3px;
							font-family: "bebas_neueregular";
						}
					.rodape .mapa .info-rodape .horario-atendimento{
						width: 100%;
						max-width: 555px;
						margin: 30px auto;
						font-family: "bebas_neueregular";
						padding: 0 10px;
					}
						.rodape .mapa .info-rodape .horario-atendimento span{
							text-transform: uppercase;
							font-size: 30px;
							letter-spacing: 1px;
						}
						.rodape .mapa .info-rodape .horario-atendimento p{
							text-transform: uppercase;
							font-size: 18px;
							
							font-family: 'antiqueoliveregular';
						}
					.rodape .mapa .info-rodape .formulario-rodape{
						width: 100%;
						max-width: 400px;
						margin:0 auto;
						-webkit-box-shadow: 0px 8px 8px -2px rgba(85,150,209,1);
						-moz-box-shadow: 0px 8px 8px -2px rgba(85,150,209,1);
						box-shadow: 0px 8px 8px -2px rgba(85,150,209,1);
						padding:0 10px;
					}
						.rodape .mapa .info-rodape .formulario-rodape .titutlo-formulario-rodape{
							height: 40px;
							border:#fff solid 1px;
							color:#fff;
							text-align: center;
							font-size: 17px;
							line-height: 40px;
							font-family: 'antiqueoliveregular';
						    letter-spacing: 2px;
						    position: relative;
						    font-style:italic;
						}
							.rodape .mapa .info-rodape .formulario-rodape .titutlo-formulario-rodape .icone{
								display: inline-block;
								border-right: solid #fff 1px;
								position: absolute;
								left: 0;
								width: 70px;
								height: 38px;

							}
								.rodape .mapa .info-rodape .formulario-rodape .titutlo-formulario-rodape .icone:after{
									content: '';
									display: block;
									height: 5px;
									background: #fff;
									width: 39px;
									position: absolute;
									bottom: 10px;
									left: 15px;
									border-radius: 100%;
									
								}
																	/* The animation code */
								@keyframes pula {
								    0%   {top: -15px;}
								    50%  {top: -25px;}
								    100% {top: -15px;}
								}

									.rodape .mapa .info-rodape .formulario-rodape .titutlo-formulario-rodape .icone i{
										transform: rotate(-50deg);
										-webkit-transform: rotate(-5-50deg);
										-moz-transform: rotate(-50deg);
										-o-transform: rotate(-50deg);
										-ms-transform: rotate(-50deg);
										font-size: 35px;
										position: absolute;
										top: -15px;
										left: 17px;
										animation-name: pula;
    									animation-duration: 1s;
    									animation-iteration-count: infinite;
									}

										/*.rodape .mapa .info-rodape .formulario-rodape .titutlo-formulario-rodape .icone i:hover{
											color:red;
										 	 -webkit-transition-delay:5s;
										 	 -an

										}*/
						.rodape .mapa .info-rodape .formulario-rodape .form-group{
							margin:5px 0;
						}
							.rodape .mapa .info-rodape .formulario-rodape .form-group label{

							}
							.rodape .mapa .info-rodape .formulario-rodape .form-group .form-control{
								height: 40px;
								border:#fff solid 1px;
								color:#fff;
								padding: 5px;
								background: transparent;
								font-size: 17px;
								line-height: 40px;
								border-radius: 0;
								color: #fff!important;
								text-align: center!important;
								font-family: 'antiqueoliveregular';
								font-style: italic;
								letter-spacing: 4px;
							}

								#formulario-rodape::-webkit-input-placeholder {
								   color: #fff!important;
								   text-align: center!important;
								   font-family: 'antiqueoliveregular';
								   font-style: italic;
							       letter-spacing: 4px;
								   
								}

								:-moz-placeholder {
								   color: #fff!important;
								   text-align: center!important;
								   font-family: 'antiqueoliveregular';
								   font-style: italic;
							       letter-spacing: 4px;
								   
								}

								::-moz-placeholder {
								   color: #fff!important;
								   text-align: center!important;
								   font-family: 'antiqueoliveregular';
								   font-style: italic; 
							       letter-spacing: 4px; 
								   
								}

								:-ms-input-placeholder {  
								   color: #fff!important;
								   text-align: center!important;
								   font-family: 'antiqueoliveregular';
								   font-style: italic; 
							       letter-spacing: 4px; 
								   
								}
								.rodape .mapa .info-rodape .formulario-rodape .form-group .form-control:focus ~ span:after{
									background: #fff;
									width: 100%;
									transition:All 1s ease;
									-webkit-transition:All 1s ease;
									-moz-transition:All 1s ease;
									-o-transition:All 1s ease;
								}
							.rodape .mapa .info-rodape .formulario-rodape .form-group span:after{
								content:'';
								display: block;
								height: 1px;
								width: 0;
								margin:0 auto;
								transition:All 1s ease;
								-webkit-transition:All 1s ease;
								-moz-transition:All 1s ease;
								-o-transition:All 1s ease;
							}
							.rodape .mapa .info-rodape .formulario-rodape .form-group .enviar-rodape{
								height: 40px;
								border:#fff solid 1px;
								color:#63B3F8;
								padding: 5px;
								background: #fff;
								font-size: 17px;
								width:100%;
								border-radius: 0;
							    letter-spacing: 4px;
							    font-weight: bold;
							    font-style: italic;
							}
								.rodape .mapa .info-rodape .formulario-rodape .form-group .enviar-rodape:hover{
									color:#fff;
									background:transparent;
									border:#fff solid 2px;
									
								}
				.rodape .mapa iframe{
					width: 167%;
					height: 1079px;
					position: absolute;
					top: -132px;
				    left: -57%;
				}
				.rodape .formError{
					position: absolute!important;					
					bottom: -70px!important;
					display: block!important;
					z-index: 5000!important;
					cursor: pointer!important;
					top: inherit!important;
					left: inherit!important;
				}

	/*COPYRIGHT*/
		.copyright{
			background: #42a7ff;
			min-height: 60px;
			width: 100%;
			text-align:center;
			padding:20px 10px;
		}
			.copyright i{
				color: #fff;
				font-size: 20px;	
			}
				.copyright span{
					font-family: 'bebas_neueregular';
					color: #fff;
					font-size: 20px;
					letter-spacing: 3px;
				}
	
	/*ESTILOS GERAIS  */
		.pg{

		}
			.pg .sub-titulo-paginas{
				text-align: center;
				text-transform: uppercase;
				font-family: "barbarowestern";
				font-size: 55px;
				color:#7dc0f9;
			}
				.pg .sub-titulo-descricao-paginas{
					text-align: left;
					text-transform: uppercase;
					font-family: "barbarowestern";
					font-size: 50px;
					color:#7dc0f9;
					line-height: 52px;
					margin: 50px;
					letter-spacing: 10px;
				}
					.pg .sub-titulo-descricao-paginas b{
						display: block;
						font-weight: normal;
						
					}
						.pg .sub-titulo-descricao-paginas span{
							display: block;
							font-size: 25px;
							color:#000;
							letter-spacing: 0!important;													
							font-family: "bebas_neueregular"!important;
							line-height: 25px;
							
						}
			.pg .sidebar-blog  .panel-group{
				   margin-bottom: 5px;
				}
					.pg .sidebar-blog  .panel-group .panel{
						border:none;
					}
						.pg .sidebar-blog  .panel-group .panel .panel-heading{
						    background: #231f21;
						}
						.pg .sidebar-blog  .panel-group .panel .panel-heading a{
							font-family: 'bebas_neueregular';
							color: #fff;
							font-size: 30px;
							display: block;
							text-align: center;
							letter-spacing: 4px;
							text-decoration: none;
						}
					.pg .sidebar-blog  .panel-group .panel .panel-collapse{

					}
						.pg .sidebar-blog  .panel-group .panel .panel-collapse a{
							display: block;
							text-align: center;
							font-family: 'antiqueoliveregular';
							margin-top: 5px;
							height: 40px;
							line-height: 40px;
							color: #231f21;
						    font-size: 20px;
						    text-decoration: none;
						    transition:All 1s ease;
						    -webkit-transition:All 1s ease;
						    -moz-transition:All 1s ease;
						    -o-transition:All 1s ease;
						}
						.pg .sidebar-blog  .panel-group .panel .panel-collapse .ano{
							text-align: left;
							padding-left: 30px;
							background:#42a7ff;
						}
							.pg .sidebar-blog  .panel-group .panel .panel-collapse a:hover{
								background:#42a7ff;
								transition:All 1s ease;
								-webkit-transition:All 1s ease;
								-moz-transition:All 1s ease;
								-o-transition:All 1s ease;
							}
			.pg .logo-fishnchips-inicial{
				height: 450px;
				text-align:center;
				background-position: center!important;
				background-size:cover!important; 
				padding: 9% 20px 0;
				margin: 10% 0;
			}
				.pg .logo-fishnchips-inicial img{

					margin: 0 auto;
				}
	
	/*PÁGINA INICIAL*/
		.pg-inicial{
		    margin-top: -20px;
		    
		}
			/*CARROSSEL DESTAQUE*/
			.pg-inicial .carrossel-destaque-inicial{
				width: 100%;
				height: 1000px;
				overflow-y:hidden;
				position: relative;
			}

				.pg-inicial .carrossel-destaque-inicial .navegacaodestaqueFrent {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: 50px;
					border: solid 1px #fff;
					z-index: 999;
					font-size: 50px;
					height: 100px;
					background: #fff;
					outline: none;
				}
				.pg-inicial .carrossel-destaque-inicial .navegacaodestaqueTras{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					width: 50px;
					border: solid 1px #fff;
					z-index: 999;
					font-size: 50px;
					height: 100px;
					background: #fff;
					outline: none;
				}
				.pg-inicial .carrossel-destaque-inicial button:hover{
				    background: rgba(255, 255, 255, 0.45);
				    transition: All .4s ease;
				    -webkit-transition: All .4s ease;
				    -moz-transition: All .4s ease;
				    -o-transition: All .4s ease;
				}

				.pg-inicial .carrossel-destaque-inicial .item{
					width: 100%;
					background-size: cover!important;
					background-position: center!important;
					height: 1000px;
					position: relative;
				}
					.pg-inicial .carrossel-destaque-inicial .item .area-posicao-texto-inicial{
						position: absolute;
						right: 20%;
						top: 10%;
						width: 670px;
						text-align: right;
					}
						.pg-inicial .carrossel-destaque-inicial .item .area-posicao-texto-inicial h2{
							font-family: "barbarowestern";
							color: #fff;
							font-size: 60px;
						    letter-spacing: 10px;
						    text-align: left;
						}
						.pg-inicial .carrossel-destaque-inicial .item .area-posicao-texto-inicial p{
							font-family: "bebas_neueregular";
							text-transform: uppercase;
							font-size: 24px;
							width: 100%;
							max-width: 200px;
							text-align: left;
							color: #fff;
							letter-spacing: 1px;
							position: absolute;
							right: 40px;

						}
						.pg-inicial .carrossel-destaque-inicial .owl-dots {
							display: inline-block;
							text-align: center;
							position: absolute;
							left: 50%;
							transform: translate(-50%, -50%);
							-webkit-transform: rotate(90deg);
							-moz-transform: rotate(90deg);
							-o-transform: rotate(90deg);
							bottom: 0; 
						}
							.pg-inicial .carrossel-destaque-inicial .owl-dots span{
								display: block;
								border: solid 1px #fff;
								width: 15px;
								height: 15px;
								border-radius: 100%;
								margin: 5px;
								bottom: 0;
								left: 50%;
								background: transparent; 
							}
								.pg-inicial .carrossel-destaque-inicial .owl-dot.active span {
									background: #fff; 
								}
			/*ÁREA LOGO */
			.pg-inicial .logo-inicial{
				padding:20px;

			}
				.pg-inicial .logo-inicial img{
					margin: 50px auto;

				}
				.pg-inicial .area-info-inicial{
					min-height: 260px;
					width: 90%;
					background: #42a7ff;
					margin: 50px auto;
					padding: 20px;
					position: relative;
				}
					.pg-inicial .area-info-inicial p{
						font-family: "barbarowestern";
						text-transform: uppercase;
						font-size: 45px;
						color:#fff;
					}
						.pg-inicial .area-info-inicial span{
							color: #fff;
							font-size: 17px;
							text-transform: uppercase;
							width: 100%;
							max-width: 580px;
							display: block;
							min-height: 100px;
							font-family: 'antiqueoliveregular';
						}
					.pg-inicial .area-info-inicial a{
						display: block;
						border: solid 1px #fff;
						text-align: center;
						text-transform: uppercase;
						color: #fff;
						width: 100%;
						max-width: 233px;
						font-size: 17px;
						font-style: italic;
						bottom: 0;
						letter-spacing: 3px;
						height: 40px;
						line-height: 40px;
						position: absolute;
						bottom: 20px;
						right: 35px;
						text-decoration: none;
					    margin: 20px 0;
					    transition:All 1s ease;
					    -webkit-transition:All .4s ease;
					    -moz-transition:All .4s ease;
					    -o-transition:All .4s ease;
					     font-family: 'bebas_neueregular';
					}
							.pg-inicial .area-info-inicial a:hover{
								background:#fff;
								color:#63B3F8;
								transition:All 1s ease;
								-webkit-transition:All 1s ease;
								-moz-transition:All 1s ease;
								-o-transition:All 1s ease;
							}

			/*ÁREA PROMOÇÕES*/
			.pg-inicial .promocoes-inicial{
			    margin: 6% 0;
			}
				.pg-inicial .promocoes-inicial p{

				}
					.pg-inicial .promocoes-inicial p b{

					}
				.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial{
					position: relative;
					height: 500px;
					overflow-y: hidden;
				}
					.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .navegacaoPromocoesFrent{
						position: absolute;
					    top: 10%;
					    
					    left: 0;
					    width: 50px;
					    border:solid 1px #fff;
					    z-index: 1;
					    font-size: 50px;
					    height: 100px;
					    background:#fff;
					    outline:none;
					}
						.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .navegacaoPromocoesFrent:hover{
							background:rgba(255, 255, 255, 0.45);
							transition:All .4s ease;
							-webkit-transition:All .4s ease;
							-moz-transition:All .4s ease;
							-o-transition:All .4s ease;	
						}
					.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .navegacaoPromocoesTras{
						position: absolute;
					    top: 10%;
					    z-index: 1;
					    right: 0;
					    width: 50px;
					    border:solid 1px #fff;					    
					    font-size: 50px;
					    height: 100px;
					    background:#fff;
					    outline:none;
					}
						.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .navegacaoPromocoesTras:hover{
							background:rgba(255, 255, 255, 0.45);

							transition:All .4s ease;
							-webkit-transition:All .4s ease;
							-moz-transition:All .4s ease;
							-o-transition:All .4s ease;
						}
					.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item{
						width: 100%;
						height: 500px;
						background-size:cover!important;
						background-position: center!important;
						position: relative;

					}
						.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao{
							position: absolute;
							right: 20%;
							width: 100%;
							max-width: 300px;
						}
							.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao span{
								display: block;
								font-family: "bebas_neueregular";
								background: #231f20;
								height: 90px;
								color: #fff;
								text-transform: uppercase;
								
								text-align: center;
								line-height: 90px;
								font-size: 40px;
								margin-top: 15px;
							}
								.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao span b{

								}
								.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao .info-carrossel-promocoes-inicial{
								    background: rgba(255, 255, 255, 0.75);
									min-height: 180px;
									margin-top: 2px;
								}
									.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao .info-carrossel-promocoes-inicial img{
									  width: 50px;
									  display: inline-block;
									  margin: 20px 0 0 10px;
									}
										.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao .info-carrossel-promocoes-inicial hr{
											border-color: #9fd1fb;
										    width: 100%;
										    max-width: 200px;
										    margin: 0 auto;
										}
									.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao .info-carrossel-promocoes-inicial h3{
										margin: 0;
										font-size: 22px;
										letter-spacing: 1px;
										text-transform: uppercase;
										padding: 20px;
										font-family: "bebas_neueregular";
										display: inline-block;
										width: 100%;
										max-width: 220px;
										vertical-align: top;

									}
										.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao .info-carrossel-promocoes-inicial h3 b{
											

										}
									.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao .info-carrossel-promocoes-inicial p{
										padding: 20px;
										font-family: 'antiqueoliveregular';
									}
			/*ÁREA CARDÁPIO*/			
			.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial{
				width: 100%;
				position: relative;
				height: 490px;				
				padding-top: 50px;
				margin-bottom: 50px;
				overflow-y: hidden;
			}
				.pg-inicial .cardapio-inicial{
					margin:50px 0;
				}
				.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .navegacaoCardapioFrent{
					background: transparent;
					border: solid 1px #000;
					font-size: 35px;
					width: 50px;
					outline: none;
					font-weight: bold;
					left: 0;
					position: absolute;
					z-index: 1;
					top:57px;
				}
				.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .navegacaoCardapioTras{
					background: transparent;
					border: solid 1px #000;
					font-size: 35px;
					width: 50px;
					outline: none;
					font-weight: bold;
					right: 2px;	
					position: absolute;
					z-index: 1;
					top:57px;
				}
				
					.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item{						
						height: 440px;
					    padding-top: 60px;
					    display: block;
					    text-decoration: none;
					    transition:All 1s ease;
					    -webkit-transition:All 1s ease;
					    -moz-transition:All 1s ease;
					    -o-transition:All 1s ease;
						
						
					}
						.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item:hover {						
						    padding-top: 0;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;							
							
						}
							.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item .permalink-post{
								position:absolute;
								height:440px;
								width:100%;
								top:0;
							}

						.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item .item-carrossel{
							height: 380px;
							width:99.5%;
							background-position: center!important;
							background-size: cover!important;
							display: block;
							text-decoration: none;	

						}
							.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item:hover{
								/*margin-top:-10%;*/
							}
								.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item:hover .area-cardapio-texto-inicial{
									background: rgba(0, 0, 0, 0.65);
									color:#fff;
									transition:All 1s ease;
									-webkit-transition:All 1s ease;
									-moz-transition:All 1s ease;
									-o-transition:All 1s ease;
								}
								.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item:hover h2{
									transition:All 1s ease;
									-webkit-transition:All 1s ease;
									-moz-transition:All 1s ease;
									-o-transition:All 1s ease;
									color:#fff!important;
								}
								.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item:hover .permalink{
									transition:All 1s ease;
									-webkit-transition:All 1s ease;
									-moz-transition:All 1s ease;
									-o-transition:All 1s ease;
									opacity:1!important;
									color:#fff;
								}
							.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item .area-cardapio-texto-inicial{
								text-align: center;
								background: rgba(255, 255, 255, 0.75);
								min-height: 110px;
								padding-top: 10px;
							}
								.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item .area-cardapio-texto-inicial h2{
									margin: 0;
									text-transform: uppercase;
									color: #000;
									font-family: "bebas_neueregular";
									max-width: 200px;
									margin:0 auto;
									
								}
									.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item .area-cardapio-texto-inicial h2 span{
										display: block;
									}
								.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item .area-cardapio-texto-inicial .permalink{
									text-decoration: none;
									opacity: 0;
									font-family: 'antiqueoliveregular';
									
									text-decoration: underline;
									font-size: 17px;
									letter-spacing: 4px;
								}
				.pg-inicial .cardapio-inicial .ver-cardapio{
					display: block;
					border: solid 1px #000;
					width: 100%;
					max-width: 340px;
					text-align: center;
					height: 50px;
					line-height: 50px;
					font-size: 20px;
					font-style: italic;
					font-family: "bebas_neueregular";
					text-transform: uppercase;
					color: #000;
					letter-spacing: 2px;
					margin: 0 auto;
					text-decoration: none;
					position: relative;
					transition:All 1s ease;
					-webkit-transition:All 1s ease;
					-moz-transition:All 1s ease;
					-o-transition:All 1s ease;
				}
					.pg-inicial .cardapio-inicial .ver-cardapio:hover{
						color:#fff;
						transition:All 1s ease;
						-webkit-transition:All 1s ease;
						-moz-transition:All 1s ease;
						-o-transition:All 1s ease;
					}
					.pg-inicial .cardapio-inicial .ver-cardapio::before{
						content: '';
						display: block;
						background: #000;
						height: 49px;
						position: absolute;
						width: 15%;
						transition:All 1s ease;
						-webkit-transition:All 1s ease;
						-moz-transition:All 1s ease;
						-o-transition:All 1s ease;
						z-index: -1;
						

					}
						.pg-inicial .cardapio-inicial .ver-cardapio:hover:before{
							width: 100%;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;
						}
			/*ÁREA CLUBE*/
			.pg-inicial .clube-inicial{
				min-height: 1000px;
				background-position: center!important;
				background-size: cover!important;
			    
			    
			    position: relative;			
				
			}
				.pg-inicial .clube-inicial .lente-clube-inicial{
					position: absolute;
					width: 100%;
					background:transparent;
					top:0;
				    visibility: hidden;
				    opacity: 1;
			        padding-top: 20%;
			        
				}
					
				.pg-inicial .clube-inicial .info-club-inicial{
					width: 100%;
					max-width: 317px;
					text-align: center;
					margin: 0 70px 70px;
					padding: 15px;
				}
					.pg-inicial .clube-inicial .info-club-inicial h4{ 
						font-size: 45px;
						color:#42a7ff;
						text-transform: uppercase;
						font-family: "barbarowestern";
					}
					.pg-inicial .clube-inicial .info-club-inicial p{ 
						text-transform: uppercase;
						font-size: 22px;
						color:#fff;
						font-family: "bebas_neueregular";
					    letter-spacing: 2px;
					}
					.pg-inicial .clube-inicial .info-club-inicial a{ 
						color: #fff;
						text-align: center;
						text-transform: uppercase;
						font-style: italic;
						font-size: 22px;
						font-family: "bebas_neueregular";
						letter-spacing: 2px;
						border: solid 1px;
						height: 45px;
						display: block;
						width: 100%;
						max-width: 235px;
						line-height: 45px;
						text-decoration: none;
						margin: 0 auto;
						transition:All 1s ease;
						-webkit-transition:All 1s ease;
						-moz-transition:All 1s ease;
						-o-transition:All 1s ease;
					}
						.pg-inicial .clube-inicial .info-club-inicial a:hover{
							background:rgba(255, 255, 255, 0.35);
							border-color: #fff;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;
						}
				.pg-inicial .carrossel-club-valores-inicial{

				}
					.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial{
						list-style: none;
						margin: 0;
						padding: 0;						
						font-size: 0;
						overflow-y: hidden;
						height: 600px;
						padding-top: 60px;
						padding-bottom: 60px;
						background: rgba(0, 0, 0, 0.42);
					}
						.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial .item{
							display: inline-block;							
						    width:100%;
							padding-top: 50px;
							border-top: solid #656565 3px;
							
						    margin: 30px 0;
						    height: 450px;
						}
							.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial .item:before{
								content: '';
								width: 2px;
								height: 90px;
								display: block;
								background: #43A7FF;
								position: absolute;
								top: -30px;
								left: 50%;
								transform: translate(-50%);
							}
							.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial .item .club-valores-text-inicial{
								display: block;
								background: #fff;
								width: 85px;
								height: 325px;
								margin: 0 auto;
								cursor: pointer;
								display: block;
								text-decoration: none;
								color:#000;
								text-align:center;
								position: relative;

							}
								.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial .item .club-valores-text-inicial:hover{

								}	
								.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial .item .club-valores-text-inicial p{
									font-size: 17px;
									left: -85%;
									top:50%;									
									font-family: 'antiqueoliveregular';
									-webkit-transform: rotate(270deg) translateY(-50%);									
									position: absolute;
									width: 255px;
									display: block;
									margin: 0;

								}

									.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial .item .club-valores-text-inicial .icone{
										width: 50px;
										position: absolute;
										left: 50%;
										transform: translateX(-50%);
									    margin-top: 10px;
									}
									.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial .item .club-valores-text-inicial .texto-modal{
										text-align:center;			
										display: none;
										padding: 35px 20px;
										
									}
										.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial .item .club-valores-text-inicial .texto-modal span{
											font-family: 'bebas_neueregular';	
											font-size: 28px;
											letter-spacing: 1px;
											display: block;
											margin: 20px 0;
										}
										.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial .item .club-valores-text-inicial .texto-modal p{
											font-family: 'antiqueoliveregular';
											font-size: 16px;
											text-align: left;
											position:initial!important;
											width: 100%;
										    padding: 0 5px;
											transform: rotate(0deg) ;
											-webkit-transform: rotate(0deg) ;
											-moz-transform: rotate(0deg) ;
											-o-transform: rotate(0deg) ;
											-ms-transform: rotate(0deg) ;
										}
			/*ÁREA BLOG*/
			.pg-inicial .blog-inicial{
				margin-top: 100px;
			}
				.pg-inicial .blog-inicial ul{
					padding:0;
					margin:0;
					list-style: none;
					text-align:center;
					font-size: 0;
					width: 100%;
				}
					.pg-inicial .blog-inicial ul li{
						display: inline-block;
						width: 100%;					
						min-height: 270px;
						vertical-align: top;
						margin:0.5px;
					    max-width: 423px;

					}
						.pg-inicial .blog-inicial ul li:hover .lente-blog{
							opacity: 1;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;
						}
						.pg-inicial .blog-inicial ul li a{
							text-decoration: none;
						}
							.pg-inicial .blog-inicial ul li a .lente-blog{
								width: 100%;								
								min-height: 276px;
								background: rgba(0, 0, 0, 0.62);
								padding: 50px;
								text-align: left;
								opacity: 0;
								transition:All 1s ease;
								-webkit-transition:All 1s ease;
								-moz-transition:All 1s ease;
								-o-transition:All 1s ease;
							}
							.pg-inicial .blog-inicial ul .titulo-blog{
								display: inline-block;
								width: 100%;
								max-width: 423px;
								min-height: 270px;
								vertical-align: top;
							}
								.pg-inicial .blog-inicial ul .titulo-blog .blog-info{
									background: #42a7ff;
									width: 100%;
									height: 276px;
									padding-top: 25px;
								}
									.pg-inicial .blog-inicial ul .titulo-blog .blog-info .icone{
										width: 67px;
										margin: 0 auto;

									}
									.pg-inicial .blog-inicial ul .titulo-blog .blog-info p{
										text-transform: uppercase;
										text-align: center;
										font-family: "barbarowestern";
										color: #fff;
										margin: 0;
										font-size: 65px;
										line-height: 60px;
										padding: 15px 0 0 0;
									}
									.pg-inicial .blog-inicial ul .titulo-blog .blog-info  p span{
										display: block;
									}
								.pg-inicial .blog-inicial ul li .blog-post{
									width: 100%;
									min-height: 270px;	
									display: block;						
									background-size:cover!important;
									background-position: center!important;
									background-repeat: no-repeat!important;

								}
									.pg-inicial .blog-inicial ul li .blog-post span{
										display: block;
										border: solid 1px #fff;
										text-align: center;
										width: 100%;
										max-width: 152px;
										color: #fff;
										height: 40px;
										line-height: 40px;
										
										font-size: 25px;
										font-family: "bebas_neueregular";
									}
									.pg-inicial .blog-inicial ul li .blog-post p{
										color: #fff;
										font-size: 17px;
										margin: 20px 0 0 0;

									}
									.pg-inicial .blog-inicial ul li .blog-post b{
										font-style: italic;
										letter-spacing: 1px;
										font-size: 15px;
										color:#42a7ff;
									}					

	/*QUEM SOMOS*/
		.pg-quem-somos{
			
		}
			.pg-quem-somos .sub-titulo-descricao-paginas{
				text-align: left;
				margin-bottom: 0;
				margin: 50px auto 0;
				max-width: 400px;

			}
			.area-texto-quem-smos{
				width: 100%;
				min-height: 485px;
				margin-bottom: 0;
			}
				.area-texto-quem-smos .texto-quem-somos{
					background: #42a7ff;					
					min-height: 484px;
					max-width: 1230px;
					width: 100%;
				    position: absolute;
				    right: 0;				    
				    padding: 30px;
				}
					.area-texto-quem-smos span{
						font-family: 'bebas_neueregular';
						text-transform: uppercase;
						display: block;
						font-size: 40px;
						letter-spacing: 1px;
						padding: 20px;
					}
						.area-texto-quem-smos p{
							font-family: 'antiqueoliveregular';
							font-size: 17px;
							padding: 20px;
							letter-spacing: 1px;
							line-height: 30px;
							margin: 0;

						}
			/*ÁREA DE INTEGRANTES QUEM SOMOS*/ 
			.itegrnates-quem-somos{
				position: relative;
			    background: #231f21;
			}	
				.itegrnates-quem-somos .lente-itegrnates-quem-somos{
					position: absolute;
					width: 100%;
					background: rgba(0, 0, 0, 0.75);
					text-align:center;
				    visibility: hidden;
				    opacity: 0;
				    z-index: 2;
				}	
					
				.itegrnates-quem-somos ul{
					font-size: 0;
					margin: 0;
					padding: 0;
					list-style:none;
					text-align:center;
				}
					.itegrnates-quem-somos ul li{
						min-height: 250px;
						width: 33.3%;
						background: #000;
						display: inline-block;
						cursor:pointer;
					    max-width: 567px;
						position: relative;
					}
						.itegrnates-quem-somos ul li .perfil-integrantes{
							display: block;
							text-decoration: none;
						}

						.itegrnates-quem-somos ul li .foto-integrante-quem-somos{
							width: 100%;
							height: 360px;
							background-size: cover!important;
							background-position:center!important;
						}
						.itegrnates-quem-somos ul li .nome-cargo-itegrante-quem-somos{
							background: #231f21;
							min-height: 100px;
							width: 100%;
							padding: 20px;
						}
							.itegrnates-quem-somos ul li .nome-cargo-itegrante-quem-somos span{
								display: block;
								font-size: 21px;
								color:#fff;
								font-family: 'bebas_neueregular';
							    letter-spacing: 4px;
							}
							.itegrnates-quem-somos ul li .nome-cargo-itegrante-quem-somos p{
								font-size: 35px;
								text-transform: uppercase;
								font-family: 'bebas_neueregular';
								color:#fff;
								margin:0;
							    margin-top: -17px;
							}
							/*INFORMAÇÕES COMPLETAS */
							.itegrnates-quem-somos li .modal-quem-somos{
								width: 100%;
								max-width: 480px;
								height: 660px;
								background-size:cover!important;
								background-position:center!important;
								position: absolute;
								top: 0;
								border:solid #7fc1fa 10px;
								visibility: hidden;
								opacity: 0;
								z-index: 2;
							}
							.itegrnates-quem-somos li .modal-quem-somosBottom{
								bottom: 0!important;
								top:initial!important;
							}
							.itegrnates-quem-somos li .modal-quem-somos .lente-modal-quem-somos{
								width: 100%;
								background:rgba(127, 193, 250, 0.67);
								height: 650px;	
								padding: 135px 15px;						
							}
							.itegrnates-quem-somos li .modal-quem-somos .lente-modal-quem-somos span{
								font-family: 'bebas_neueregular';
								font-size: 33px;
								/* font-weight: bold; */
								color: #231f20;
								text-align: left;
								text-transform: uppercase;
								display: block;
								letter-spacing: 1px;
							}			
							.itegrnates-quem-somos li .modal-quem-somos .lente-modal-quem-somos b{
								font-family: 'bebas_neueregular';
								font-size: 22px;
								font-weight: 100;
								color: #231f20;
								text-transform: uppercase;
								text-align: left;
								display: block;
								font-size: 30px;
								letter-spacing: 2px;
							}			
							.itegrnates-quem-somos li .modal-quem-somos .lente-modal-quem-somos p{
								font-size: 17px;
								font-family: 'antiqueoliveregular';
								font-weight: 100;
								color:#fff;
								text-align:left;
								line-height: 30px;
							}				
	
	/*PROMOÇÕES*/
		.pg-promoçoes{
			
		}
			.pg-promoçoes  .titulo-pagina-cardapio{					
					width:100%;					

					}.pg-promoçoes  .sub-titulo-descricao-paginas{
						margin: 0 auto;
						width:100%;
						max-width:200px;
						margin-top: 50px;

					}
						.pg-promoçoes  .titulo-pagina-cardapio span{
							color: #000;
							font-family: 'antiqueoliveregular';
							display: block;
							margin: 0 auto;
							width: 100%;
							padding: 10px;
							max-width: 865px;
							font-size: 17px;
							text-align:center;
						}
			/*CARROSSEL DIAS DA SEMANA */
			.pg-promoçoes .carrossel-dias-promocoes{
				height:95px;
				background: #231f20;
				padding:0 50px; 
				position: relative;
				margin-top:40px;
				overflow-y:hidden;
			}
			.pg-promoçoes .carrossel-dias-promocoes .navegacaoPGPromocoesFrent{
				position: absolute;
				width: 50px;
				height: 95px;
				left:0;
				font-size: 40px;
				color: #fff;
				border:none;
				border-right: 1px #fff solid;
				background:#231f20;
				outline:none;

			}
			.pg-promoçoes .carrossel-dias-promocoes .navegacaoPGPromocoesTras{
				position: absolute;
				width: 50px;
				height: 95px;
				right:0;
				font-size: 40px;
				color: #fff;
				border:none;
				border-left: 1px #fff solid;
				background:#231f20;
				outline:none;
			}
				.pg-promoçoes .carrossel-dias-promocoes .item{

				}
					.pg-promoçoes .carrossel-dias-promocoes .item .dia-semana-promocoes{
						display: block;						
						background: #42a7ff;
						height: 95px;
						width: 100%;						
					    border-left: solid 1px #fff;
					    border-right: solid 1px #fff;
					    text-decoration: none;
					    transition:All 1s ease;
					    -webkit-transition:All 1s ease;
					    -moz-transition:All 1s ease;
					    -o-transition:All 1s ease;
					}
						.pg-promoçoes .carrossel-dias-promocoes .item .dia-semana-promocoes:hover{
							background: #231f20;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;
						}
						.pg-promoçoes .carrossel-dias-promocoes .item .dia-semana-promocoes p{
							color:#fff;
							text-align:center;
							font-family: 'bebas_neueregular';
							font-size: 35px;
							letter-spacing: 2px;
							padding-top:25px; 
						}
			/*ÁREA PRA PROMOÇÃO*/
			.pg-promoçoes .area-promocao-pg-promocao{
				margin:20px 0;
			}
				.pg-promoçoes .area-promocao-pg-promocao ul{
					padding: 0;
					margin: 4px 0;
					width: 100%;
					text-align:center;
				}
					.pg-promoçoes .area-promocao-pg-promocao ul .conteudo{
						width: 45.8%!important;
						min-height: 800px;

					}
					.pg-promoçoes .area-promocao-pg-promocao ul li{
						display:block;						
						background:#2e2a2b;
					    width: 53.8%;
					    min-height: 800px;
						
					    vertical-align: top;

					}

						.pg-promoçoes .area-promocao-pg-promocao .titulo-promocao{
							padding: 30px 25px;
						}
							.pg-promoçoes .area-promocao-pg-promocao .titulo-promocao p{
								margin: 0;
								font-family: 'bebas_neueregular';
								font-size: 40px;
								color: #7dc0f9;
								letter-spacing: 6px;
								text-align: left;
								
								width: 100%;
								line-height: 40px;
								max-width: 335px;
							}
							.pg-promoçoes .area-promocao-pg-promocao .titulo-promocao span{
								margin: 0;
								font-family: 'bebas_neueregular';
								font-size: 40px;
								color: #7dc0f9;
								letter-spacing: 6px;
								text-align: left;
								
								width: 100%;
															
								display: block;
							}
						.pg-promoçoes .area-promocao-pg-promocao ul{
							display:flex;
						}
							
						.pg-promoçoes .area-promocao-pg-promocao .foto-prato{
							
							width: 54%;
							background-position: center!important;
							background-size: cover!important;
						}
						.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao{
							width: 100%;
							max-width: 790px;								
							margin:0 auto;
							padding: 20px;						
						}
							.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao .item-prato-promocao{
								text-align: left;
								max-width: 380px;
								cursor: pointer;
							    margin: 40px 0 0;
							}
								.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao .item-prato-promocao:hover .icone-promocao{
									-webkit-animation: swing 1s ease;
									animation: swing 1s ease;
									-webkit-animation-iteration-count: 1;
									animation-iteration-count: 1;
								}
								.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao .item-prato-promocao:after{
									content: '';
									display: block;
									max-width: 275px;
									width: 100%;
									height: 1px;
									background: #fff;
									margin: 0 auto;
								}
								.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao .item-prato-promocao .icone-promocao{
									width: 50px;
								    display: inline-block;
								    margin:0 20px;
								}

								.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao .item-prato-promocao p{
									text-align: left;
								    display: inline-block;
								    color:#fff;
								    font-family: 'bebas_neueregular';
									font-size: 31px;
									letter-spacing: 5px;
									width: 100%;
									max-width: 275px;
									line-height: 30px;
									vertical-align: top;
									min-height: 60px;
								}
									.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao .item-prato-promocao p span{
										font-weight: bold;
									}
							.pg-promoçoes .area-promocao-pg-promocao ul li .info-adicionais{
								color: #fff;								
								margin-top: 70px;
								font-style: italic;
								text-align: center;
								margin-bottom: 0;
								font-family: 'antiqueoliveregular';
							    letter-spacing: 1px;
							}	
	
	/*CARDÁPIO*/
		.pg-cardapio{
			
		}
			.pg-cardapio .bg-topo-cardapio{
				width: 100%;
				min-height: 600px;
				background-size:cover!important;
				background-position: center!important;
				padding-top:50px; 
			}
				.pg-cardapio .bg-topo-cardapio .titulo-pagina-cardapio{					
					width:100%;					

					}.pg-cardapio .bg-topo-cardapio .sub-titulo-descricao-paginas{
						margin: 0 auto;
						width:100%;
						max-width:200px;

					}
						.pg-cardapio .bg-topo-cardapio .titulo-pagina-cardapio span{
							color: #fff;
							font-family: 'antiqueoliveregular';
							display: block;
							margin: 0 auto;
							width: 100%;
							padding: 10px;
							max-width: 865px;
							font-size: 17px;
						}
			.pg-cardapio .carrossel-pratos-cardapio{
				background: #42a7ff;
				min-height: 220px;
				padding: 0 50px;
				position: relative;
			}
				.pg-cardapio .carrossel-pratos-cardapio .navegacaoPGcardapioFrent{
					position: absolute;
					left:0;
					height: 220px;
					width: 50px;
					border: none;
					background: transparent;
					color: #fff;
					text-align:center;
					font-size: 50px;
					outline:none;
				}
				.pg-cardapio .carrossel-pratos-cardapio .navegacaoPGcardapioTras{
					position: absolute;
					right:0;
					min-height: 220px;
					width: 50px;
					border: none;
					background: transparent;
					color: #fff;
					text-align:center;
					font-size: 50px;
					outline:none;
				}
				.pg-cardapio .carrossel-pratos-cardapio .item{
					height: 200px;					
					margin: 0 1px;
					background: #fff;
					padding: 20px 10px;
					text-align:center;
					border-top: solid 15px transparent;
					position: relative;
				}
					.pg-cardapio .carrossel-pratos-cardapio .item:hover{
					    border-top: solid 15px #42a7ff;
					    transition:All .4s ease;
					    -webkit-transition:All .4s ease;
					    -moz-transition:All .4s ease;
					    -o-transition:All .4s ease;	

					}
					.pg-cardapio .carrossel-pratos-cardapio .item:before{
						content: '';
						width: 10px;
						height: 10px;
						background: transparent;
						display: block;
						position: absolute;
						transform: rotate(41deg);
						top: -5px;
						-webkit-transform: rotate(41deg);
						-moz-transform: rotate(41deg);
						-o-transform: rotate(41deg);
						-ms-transform: rotate(41deg);
						left: 50%;

					}
						.pg-cardapio .carrossel-pratos-cardapio .item:hover:before{
							background: #42a7ff;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;	

						}
				.pg-cardapio .carrossel-pratos-cardapio .ativo{
					border-top: solid 15px #42a7ff;
				}
					
					.pg-cardapio .carrossel-pratos-cardapio .ativo:before{
						content: '';
						width: 10px;
						height: 10px;
						background: #42a7ff;
						display: block;
						position: absolute;
						transform: rotate(41deg);
						top: -5px;
						-webkit-transform: rotate(41deg);
						-moz-transform: rotate(41deg);
						-o-transform: rotate(41deg);
						-ms-transform: rotate(41deg);
						left: 50%;

					}						
					.pg-cardapio .carrossel-pratos-cardapio .item a{
						text-decoration: none;
						color:#000;
					}
						.pg-cardapio .carrossel-pratos-cardapio .item a:hover .icone{
							-webkit-animation: swing 1s ease;
							animation: swing 1s ease;
							-webkit-animation-iteration-count: 1;
							animation-iteration-count: 1;
						}	
							.pg-cardapio .carrossel-pratos-cardapio .item .item-prato-cardapio p{
								font-family: 'bebas_neueregular';
								margin: 0;
								text-align: center;
								font-size: 35px;
								letter-spacing: 4px;
								line-height: 35px;
								width: 100%;
								max-width: 260px;
								height: 100px;
								margin: 0 auto;

							}							
							.pg-cardapio .carrossel-pratos-cardapio .item .item-prato-cardapio .icone{
								width: 50px;
								margin:0 auto;
							}	
								
						/*PRATOS DO CARDÁPIO */
						.pg-cardapio .todos-pratos-cardapio{

						}
							.pg-cardapio .todos-pratos-cardapio ul{
								width: 100%;
								margin: 2px 0;
								padding: 0;
							    font-size: 12px;
							    text-align: center;
							}
								.pg-cardapio .todos-pratos-cardapio ul li{
									display: inline-block;									
									width: 49.8%;
									position: relative;
									
									/*margin: 0 1px;*/
								}
									.pg-cardapio .todos-pratos-cardapio ul li:hover{
										
									}
									
									.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio{
										width: 100%;										
										display: block;
										background-size:cover!important;
										background-position: center!important;
										background-repeat: no-repeat!important;
										text-decoration: none;
										-webkit-transition: all .6s ease-in-out;
											-moz-transition: all .6s ease-in-out;
											-o-transition: all .6s ease-in-out;
											transition: all .6s ease-in-out;
									}
										.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio:hover{
											-webkit-transition: all .6s ease-in-out;
											-moz-transition: all .6s ease-in-out;
											-o-transition: all .6s ease-in-out;
											transition: all .6s ease-in-out;
											background-position: 100% 70%!important;
											
										}
											.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio:hover .lente-foto-prato-cardapio{
												background: transparent;
											}
										.pg-cardapio .todos-pratos-cardapio ul li .lente-foto-prato-cardapio{
											width: 100%;
											min-height: 600px;
											background: rgba(255, 255, 255, 0.4);
											transition:All 1s ease;
											-webkit-transition:All 1s ease;
											-moz-transition:All 1s ease;
											-o-transition:All 1s ease;
											
										}
											
										.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio .info-prato-cardapioDireito{
											width: 100%;
											max-width: 470px;
											min-height: 200px;
											background: rgba(255, 255, 255, 0.57);
											position: absolute;
											bottom: 10px;
											right:10px;
											padding: 10px;
										}
										.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio .info-prato-cardapioEsquerdo{
											width: 100%;
											max-width: 470px;
											min-height: 200px;
											background: rgba(255, 255, 255, 0.57);
											position: absolute;
											bottom: 10px;
											left:10px;
											padding: 10px;
										}
											.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio .info-prato-cardapioDireito h3{

												font-family: 'bebas_neueregular';
												font-size: 40px;
												color: #231f20;
												width: 100%;
												line-height: 35px;
												max-width: 315px;
												margin: 0 auto;
												letter-spacing: 4px;
											}
											.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio .info-prato-cardapioEsquerdo h3{
												
												font-family: 'bebas_neueregular';
												font-size: 40px;
												color: #231f20;
												width: 100%;
												line-height: 35px;
												max-width: 315px;
												margin: 0 auto;
												letter-spacing: 4px;
												text-align:center;
											}
											.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio hr{
												margin-top: 20px;
												margin-bottom: 20px;
												border: 0;
												border-top: 3px solid #42a7ff;
											}
											.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio .info-prato-cardapioEsquerdo,.info-prato-cardapioDireito p{
												font-family: 'antiqueoliveregular';
												color: #231f20;
												font-size: 15px;
												text-align:left;
												margin:0;
											}
	
	/*PÁGINA DO PRODUTO*/
		.pg-produto{

		}
			.pg-produto .lente-foto-prato-cardapio{
				background: rgba(0, 0, 0, 0)!important;

			}
				.pg-produto li{
				    width: 70.8%!important;
				}
					.pg-produto .info-prato-cardapioEsquerdo{
						max-width: 600px!important;
						min-height: 230px!important;
					}

	/*CLUBE*/
		.pg-clube{
			
		}
			.pg-clube .info-conheca-clube{
				position: absolute;
				z-index: 1;
				top: 2%;
				right: 30px;
				display: block;
				background: #000;
				width: 100%;
				max-width: 790px;
				min-height: 140px;
				border-left: solid 25px #50acfa;
			}
				.pg-clube .info-conheca-clube p{
					margin: 0;
					color: #fff;
					font-family: 'barbarowestern';
					font-size: 50px;
					line-height: 47px;
					padding: 0 20px;
					letter-spacing: 5px;
				}
					.pg-clube .info-conheca-clube small{
						margin: 0;
						color: #fff;
						font-family: 'barbarowestern';
						font-size: 50px;
						line-height: 47px;
						padding: 0 20px;
						letter-spacing: 5px;
						display: block;
						padding:0;
					}
					.pg-clube .info-conheca-clube span {
						display: block;
						color: #fff;
						font-size: 20px;
						font-family: 'bebas_neueregular';
						padding: 20px;
						letter-spacing: 1px;
					}
					
			/*ÁREA SOBRE O CLUBE */
			.pg-clube .area-sobre-clube{
				position: relative;
			}
				.pg-clube .area-sobre-clube .borda-foto-clube{
					border-right: solid #fff 3px;
					position: relative;
				    min-height: 675px;
				}		
					.pg-clube .area-sobre-clube .foto-fundo-sobre-clube{
						width: 100%;
						height: 620px;
						background-repeat: no-repeat!important;
						background-size: cover!important;
						background-position: center!important;
						position: relative;
					   
					}
						.pg-clube .area-sobre-clube .posicao-texto-clube{
							width: 100%;
							min-height: 150px;
							position: absolute;
							bottom: 0;
						}
							.pg-clube .area-sobre-clube .foto-fundo-sobre-clube .info-clube{
								display: block;
								width: 100%;
								min-height: 100px;
								background: rgba(255, 255, 255, 0.72);	
								margin:5px 0;	
								padding: 30px;				

							}
								.pg-clube .area-sobre-clube .foto-fundo-sobre-clube .info-clube .icone{
									width: 60px;
									display: inline-block;
								}
								.pg-clube .area-sobre-clube .foto-fundo-sobre-clube .info-clube p{
									margin: 0;
									font-family: 'bebas_neueregular';
									font-size:21px;									
									display: inline-block;
									width: 100%;
									max-width: 400px;
									vertical-align: top;
									min-height: 60px;									
									letter-spacing: 1px;

								}
					/*CHAMADA O QUE É O CLUB */
					.pg-clube .area-sobre-clube .foto-fundo-sobre-clube .info-quem-somos-clube{
						display: block;
						width: 100%;
						min-height: 100px;
						background: rgba(255, 255, 255, 0.72);	
						margin:5px 0 0;
					}

						.pg-clube .area-sobre-clube .foto-fundo-sobre-clube .info-quem-somos-clube p{
							margin: 0;
							font-family: 'bebas_neueregular';
							font-size:40px;
							padding: 30px;
							line-height: 40px;
						}
							.pg-clube .area-sobre-clube .foto-fundo-sobre-clube .info-quem-somos-clube span{
								display: block;
							}
							.pg-clube .area-sobre-clube .foto-fundo-sobre-clube .info-quem-somos-clube p b{

							}
					/*ÁREA DE VALORES DO CLUB*/
					.pg-clube .area-sobre-clube  .area-valores-clube{
						height: 52px;
					    overflow-y: hidden;
					    transition:All 2s ease;
					    -webkit-transition:All 2s ease;
					    -moz-transition:All 2s ease;
					    -o-transition:All 2s ease;
					    position: absolute;
					    width: 100%;
					    z-index: 1;
					}
						.pg-clube .area-sobre-clube  .area-valores-clube:hover{
							height: 500px;

							transition:All 2s ease;
							-webkit-transition:All 2s ease;
							-moz-transition:All 2s ease;
							-o-transition:All 2s ease;
						}
						.pg-clube .area-sobre-clube .area-valores-clube ul{
							list-style: none;
							margin: 0;
							padding: 0;
							position: relative;
							background:#fff;
						   

						}							
							.pg-clube .area-sobre-clube .area-valores-clube ul li{
								background: #706d6e;
								margin:1px 0;								
								padding:0 25px; 
								cursor: pointer;								
								width: 100%;
								top:0;
								transition:All 1s ease;
								-webkit-transition:All 1s ease;
								-moz-transition:All 1s ease;
								-o-transition:All 1s ease;
							}
								.pg-clube .area-sobre-clube .area-valores-clube ul li:hover{
									background: #231f21;
									
								}
								.pg-clube .area-sobre-clube .area-valores-clube ul li p{

									color: #fff;
									padding: 12px 0;
									margin: 0;									

									font-size: 17px;
									font-family: 'antiqueoliveregular';
								}
					.pg-clube .area-sobre-clube .foto-sobre-clube{
						
					}
						.pg-clube .area-sobre-clube .foto-sobre-clube .info-clube{
							
						}
							.pg-clube .area-sobre-clube .foto-sobre-clube .info-clube .icon{

							}
							.pg-clube .area-sobre-clube .foto-sobre-clube .info-clube p{

							}
						.pg-clube .area-sobre-clube .foto-sobre-clube .info-quem-somos-clube p{

						}
							.pg-clube .area-sobre-clube .foto-sobre-clube .info-quem-somos-clube p b{

							}
						.pg-clube .area-sobre-clube .foto-sobre-clube .area-valores-clube ul{

						}
							.pg-clube .area-sobre-clube .foto-sobre-clube .area-valores-clube ul li{

							}
								.pg-clube .area-sobre-clube .foto-sobre-clube .area-valores-clube ul li p{

								}
			/*ÁREA TELA INTEIRA SOBRE O CLUBE*/			
			.pg-clube .area-info-sobre-clube{

			}
				.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube{
					width: 100%;
					
					background-position: center!important;
					background-size: cover!important;
					background-repeat: no-repeat!important;
				}
					.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube .lente{
						background: rgba(17, 17, 17, 0.47);
						width: 100%;
						height: 550px;
						position: relative;
						
					}
						.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube .lente .caixa-posicao-conteudo-clube{
							width: 100%;
						    max-width: 615px;
							position: absolute;
							right: 2px;
							bottom: 2px;
						}

							.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube .info-texto-clube{
								width:100%;								
								min-height: 100px;
								background: rgba(255, 255, 255, 0.74);
								margin-bottom: 2px;
							    padding: 20px;
							}
								.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube .info-texto-clube .icone{
									width: 50px;
									display: inline-block;
								}
								.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube .info-texto-clube p{
									font-family: 'antiqueoliveregular';
									text-transform: uppercase;
									font-size: 17px;
									font-weight:bold;
									display: inline-block;
									width: 100%;
									max-width: 520px;
									vertical-align: top;

								}
							.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube .chamada-beneficios-clube{
								width:100%;								
								min-height: 130px;
								background: rgba(255, 255, 255, 0.74);
								padding-top:20px;

							}
								.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube .chamada-beneficios-clube .icone{

								}
								.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube .chamada-beneficios-clube p{
									font-family: 'bebas_neueregular';
									font-size: 45px;
									margin: 0 auto;
									width: 100%;
									line-height: 45px;
									max-width: 345px;
									text-align: center;
								}
					/*ÁREA DE VALORES DO CLUB*/
					.pg-clube  .area-valores-clubeBaixo{
						height: 52px;
					    overflow-y: hidden;
					    transition:All 2s ease;
					    -webkit-transition:All 2s ease;
					    -moz-transition:All 2s ease;
					    -o-transition:All 2s ease;
					    position: absolute;
					    width: 100%;
					    z-index: 2;
					}
						.pg-clube  .area-valores-clubeBaixo:hover{
							height: 500px;

							transition:All 2s ease;
							-webkit-transition:All 2s ease;
							-moz-transition:All 2s ease;
							-o-transition:All 2s ease;
						}
						.pg-clube .area-valores-clubeBaixo ul{
							list-style: none;
							margin: 0;
							padding: 0;
							position: relative;
							background:#fff;
						   

						}							
							.pg-clube .area-valores-clubeBaixo ul li{
								background: #706d6e;
								margin:1px 0;								
								padding:0 22px; 
								cursor: pointer;								
								width: 100%;
								top:0;
								transition:All 1s ease;
								-webkit-transition:All 1s ease;
								-moz-transition:All 1s ease;
								-o-transition:All 1s ease;
							}
								.pg-clube .area-valores-clubeBaixo ul li:hover{
									background: #231f21;
									
								}
								.pg-clube .area-valores-clubeBaixo ul li p{

									color: #fff;
									padding: 12px 0;
									margin: 0;									

									font-size: 17px;
									font-family: 'antiqueoliveregular';
								}

			/*FORMULÁRIO PARA PARTICIPAR DO CLUBE */
			.pg-clube .sub-titulo-descricao-paginas{
				text-align:center;
				margin: 100px 0 0;
			}
			.pg-clube .area-formulario .form{
				width: 100%;
				max-width: 670px;
				margin: 0 auto;
			    min-height: 285px;
			    padding:10px;
			}				
				.pg-clube .area-formulario .form .form-group{
					margin:25px 0;
				}
					.pg-clube .area-formulario .form .form-group label{

					}
					.pg-clube .area-formulario .form .form-group .form-control{
						border: solid 1px #000;
						border-radius: 0;
						height: 40px;
						color:#000;
						font-style:italic;
						padding: 20px;
						outline:none!important;
					}
						.pg-clube .area-formulario .form .form-group .form-control:focus{
							-webkit-box-shadow:none!important;
							box-shadow: none!important;

						}

						#place::-webkit-input-placeholder {
									   color: #000!important;
									   text-align: left!important;								   
									   font-style: italic;
								       letter-spacing: 4px;
								       font-family: 'antiqueoliveregular';
								       text-transform:uppercase;
									   
									}

						#place:-moz-placeholder {
						   color: #000!important;
						   text-align: left!important;								   
						   font-style: italic;
					       letter-spacing: 4px;
					       font-family: 'antiqueoliveregular';
					       text-transform:uppercase;
						   
						}

						#place::-moz-placeholder {
						   color: #000!important;
						   text-align: left!important;								   
						   font-style: italic; 
					       letter-spacing: 4px;
					       font-family: 'antiqueoliveregular';
					       text-transform:uppercase; 
						   
						}

						#place:-ms-input-placeholder {  
						   color: #000!important;
						   text-align: left!important;								   
						   font-style: italic; 
					       letter-spacing: 4px;
					       font-family: 'antiqueoliveregular';
					       text-transform:uppercase; 
						   
						}
					.pg-clube .area-formulario .form .form-group span.borda{
						width:100%;
						display: block;
						text-align:center;
					}
						.pg-clube .area-formulario .form .form-group span.borda:before{
							content: '';
							display: block;
							margin: 0 auto;
							width: 0.5%;
							height: 1px;
							background: transparent;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;


						}
						.pg-clube .area-formulario .form .form-group .form-control:focus ~ span.borda:before{
							height: 1px;
							width: 100%;
							background: #000;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;

						}

				.pg-clube .area-formulario .form .participar{
					width: 100%;
					max-width: 200px;
					height: 40px;
					color: #fff;
					font-style: italic;
					background: #231f20;
					text-align: center;
					text-transform: uppercase;
					font-size: 23px;
					border: none;
					font-family: 'bebas_neueregular';
					letter-spacing: 3px;
					float: right;
					transition:All 1s ease;
					-webkit-transition:All 1s ease;
					-moz-transition:All 1s ease;
					-o-transition:All 1s ease;
					border:solid 1px transparent;
					outline:none;

				}
					.pg-clube .area-formulario .form .participar:hover{
						background: #fff;
						border:solid 1px #000;
						color:#000;
						transition:All 1s ease;
						-webkit-transition:All 1s ease;
						-moz-transition:All 1s ease;
						-o-transition:All 1s ease;
					}
			
	/*BLOG*/
		.pg-blog{
			
		}
			.pg-blog .bg-blog-topo{
				width:100%;
			    height: 416px;
				background-position: center!important;
				background-size:cover!important;

			}
			.pg-blog .sub-titulo-descricao-paginas{
				text-align:center;
			}
			.pg-blog .blog{

			}
				
			/*ÁREA DE POSTS BLOG */
			.pg-blog .blog .areapost-blog{
					padding: 0 10px;
			}
				.pg-blog .blog .areapost-blog ul{
					list-style: none;
					margin:0;
					padding:0;
				    font-size: 6px;
				}
					.pg-blog .blog .areapost-blog ul li{
					    width: 33%;
						min-height: 260px;
						display: inline-block;
						cursor: pointer;
						vertical-align: top;

						
					}
						.pg-blog .blog .areapost-blog ul li:hover .lente-post-blog{
     						height: 310px!important;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;
						}
						.pg-blog .blog .areapost-blog ul li:hover p{
							opacity: 1!important;
							transition:All 1s ease;
							-webkit-transition:All 1s ease;
							-moz-transition:All 1s ease;
							-o-transition:All 1s ease;
						}
						.pg-blog .blog .areapost-blog ul li:hover .breve-descricao-blog{
							opacity: 0!important;
							transition:All 0.1s ease;
							-webkit-transition:All 0.1s ease;
							-moz-transition:All 0.1s ease;
							-o-transition:All 0.1s ease;
							visibility: hidden;
						}
						.pg-blog .blog .areapost-blog ul li .post-blog{
							background-size: cover!important;
							background-position: center!important;
							width: 100%;
							height: 309px;
							position: relative;
							display: block;
							text-decoration: none;

						}
							.pg-blog .blog .areapost-blog ul li .post-blog .lente-post-blog{
								height:150px;
								width: 100%;
								background: rgba(0, 0, 0, 0.82);
								position: absolute;
								bottom: 0;
						    	padding: 40px 50px;
						    	transition:All 1s ease;
								-webkit-transition:All 1s ease;
								-moz-transition:All 1s ease;
								-o-transition:All 1s ease;
							}
								.pg-blog .blog .areapost-blog ul li .post-blog .lente-post-blog .data{

								}
									.pg-blog .blog .areapost-blog ul li .post-blog .lente-post-blog .data small{
										display: inline-block;
										color: #fff;
										font-size: 35px;
										border: solid 1px;
										width: 50px;
										height: 50px;
										text-align: center;
										line-height: 50px;
										font-family: 'bebas_neueregular';
									}
										.pg-blog .blog .areapost-blog ul li .post-blog .lente-post-blog .data  span{
											display: inline-block;
											border: solid 1px #fff;
											height: 40px;
											vertical-align: bottom;
											color: #fff;
											width: 200px;
											font-size: 23px;
											text-align: center;
											line-height: 35px;
											font-family: 'bebas_neueregular';
											letter-spacing: 1px;
											margin:0 2px;
										}
										.pg-blog .blog .areapost-blog ul li .post-blog .lente-post-blog  p{
											color: #fff;
											margin-top: 65px;
											font-size: 18px;
											font-family: 'antiqueoliveregular';
											opacity: 0;
											transition:All 1s ease;
											-webkit-transition:All 1s ease;
											-moz-transition:All 1s ease;
											-o-transition:All 1s ease;
										}	
										.pg-blog .blog .areapost-blog ul li  .breve-descricao-blog{
											color: #42a7ff;
										    padding: 5px 15px;
											font-size: 18px;
											font-family: 'antiqueoliveregular';
											opacity: 1!important;
											transition:All 2.5s ease;
											-webkit-transition:All 2.5s ease;
											-moz-transition:All 2.5s ease;
											-o-transition:All 2.5s ease;
										}	
			.pg-blog .blog .paginador-blog{
				text-align: center;
				margin: 20px 0;
			} 
				.pg-blog .blog .paginador-blog a{
					display: inline-block;
					width: 45px;
					height: 45px;
					border: solid 1px #000;
					text-align: center;
					line-height: 45px;
					font-size: 40px;
					color: #000;
					margin: 0 5px;
				} 

	/*POSTAGEM*/
		.pg-postagem{
			
		}
			.pg-postagem .foto-top-postagem{
				
			}
				.pg-postagem  .area-postagem{
						
				}
					.pg-postagem  .area-postagem .area-post{
						padding: 0 10px;
					}
						.pg-postagem  .area-postagem .area-post .foto-postagem{
							height: 400px;
    						background-repeat: no-repeat!important;
    						background-size: cover!important;
    						background-position: center!important;
    						width: 100%;
    						padding: 10% 0;
						}
							.pg-postagem  .area-postagem .area-post .foto-postagem .data-postagem{
								background: rgba(66, 167, 255, 0.85);
    							width: 100%;
   								max-width: 350px;
    							height: 125px;
    							padding: 20px;
							}
								.pg-postagem  .area-postagem .area-post .foto-postagem .data-postagem small{
									display: inline-block;
									border: solid 1px #fff;
									height: 60px;
									vertical-align: bottom;
									color: #fff;
									width: 60px;
									font-size: 50px;
									text-align: center;
									line-height: 60px;
									font-family: 'bebas_neueregular';
									letter-spacing: 1px;
									margin: 0 2px;
								}
								.pg-postagem  .area-postagem .area-post .foto-postagem .data-postagem span{
									border: solid 1px #fff;
									height: 40px;
									vertical-align: bottom;
									color: #fff;
									width: 220px;
									font-size: 23px;
									display: inline-block;
									text-align: center;
									line-height: 40px;
									font-family: 'bebas_neueregular';
									letter-spacing: 4px;
									margin: 0 2px;
								}
						.pg-postagem .area-post .texto-postagem{
							padding: 20px;
							
							
						}
							.pg-postagem .area-post .texto-postagem p{
								font-family: 'antiqueoliveregular';
								font-size: 17px;
								line-height: 30px;
								letter-spacing: 1px;
								margin-top:15px; 
							}
						.pg-postagem .area-post .redessociais-postagem{

						}
							.pg-postagem .area-post .redessociais-postagem a{
								display: inline-block;
								width: 50px;
								height: 50px;
								background: #42a7ff;
								text-align: center;
								line-height: 50px;
								color: #fff;
								font-size: 30px;
								transition:All 1s ease;
								-webkit-transition:All 1s ease;
								-moz-transition:All 1s ease;
								-o-transition:All 1s ease;	
							}
							.pg-postagem .area-post .redessociais-postagem a i{
								
								
							}
								.pg-postagem .area-post .redessociais-postagem .twitter:hover{
									background:#0063b9;
									transition:All .4s ease;
									-webkit-transition:All .4s ease;
									-moz-transition:All .4s ease;
									-o-transition:All .4s ease;	
								}
								.pg-postagem .area-post .redessociais-postagem .facebook:hover{
									background:#0063b9;
									transition:All .4s ease;
									-webkit-transition:All .4s ease;
									-moz-transition:All .4s ease;
									-o-transition:All .4s ease;	
								}
								.pg-postagem .area-post .redessociais-postagem a i{
										
								}
						.pg-postagem .area-post .botoes{
							display: block;
							text-align: center;
						}
							.pg-postagem .area-post .botoes a{
								display: inline-block;
								height: 40px;
								line-height: 0;
								color: #000;
								font-family: 'antiqueoliveregular';
								font-size: 20px;
								margin: 20px 25px;
								text-decoration: none;
							}
								.pg-postagem .area-post .botoes a:hover i{
									background: #231f21;
									color:#fff;
								}
								.pg-postagem .area-post .botoes a i{
									display: inline-block;
									width: 40px;
									height: 40px;
									font-size: 30px;
									border: solid 1px #000;
									color: #000;
									line-height: 40px;
								    margin: 0 5px;
								}
						.pg-postagem .comentarios{

						}

	/*CONTATO*/
		.pg-contato{
			
		}
			.pg-contato .contato-pg-contato{
				min-height: 1000px;
				background-repeat: no-repeat!important;
				background-size: cover!important;
				background-position: center!important;
				margin-bottom: 50px;
				position: relative;
			}
				.pg-contato .contato-pg-contato::after{
					content: '';
					display: block;
					width: 100%;
					height: 165px;
					background: rgba(255, 255, 255, 0.49);
					position: absolute;
					bottom: 0;
					
				}


				.pg-contato .contato-pg-contato .area-form-contato{
					width: 100%;
					max-width: 900px;
					right:0;
					position: absolute;
					bottom: 0;
					margin-top: 10%;
					padding:50px;
					min-height: 830px;					
					background-size: cover!important;
					background-position: center!important;
					z-index: 1;
					
				}
					.pg-contato .contato-pg-contato .area-form-contato .chamada-contato{
						
					}
						.pg-contato .contato-pg-contato .area-form-contato .chamada-contato p{
							font-size: 45px;
							font-family: 'barbarowestern';
							color: #fff;
							line-height: 45px;
							letter-spacing: 10px;
							
						}
							.pg-contato .contato-pg-contato .area-form-contato .chamada-contato p span{
								display: block;
							}
					.pg-contato .contato-pg-contato .area-form-contato .info-contato{
						width: 100%;
						max-width: 600px;
					}
						.pg-contato .contato-pg-contato .area-form-contato .info-contato p{
							font-family: 'bebas_neueregular';
							color: #fff;
							font-size: 30px;
							margin:0;
							margin-top:30px;
							letter-spacing: 2px;
						}
						.pg-contato .contato-pg-contato .area-form-contato .info-contato span{
							display: block;
							font-family: 'antiqueoliveregular';
							color: #fff;
							font-size: 15px;
							letter-spacing: 1px;
							text-transform: uppercase;
							font-style: italic;
						}
				.pg-contato .contato-pg-contato .area-form-contato .form{
					margin-top: 50px;
					width: 100%;
					max-width:600px;

				}
					.pg-contato .contato-pg-contato .area-form-contato .form .form-group .border-focus{
						
						display: block!important;
						width: 0%!important;
						height: 1px!important;
						background: #fff!important;
						transition:All 1s ease!important;
						-webkit-transition:All 1s ease!important;
						-moz-transition:All 1s ease!important;
						-o-transition:All 1s ease!important;

					}
						.pg-contato .contato-pg-contato .area-form-contato .form .form-group .form-control:focus ~ .border-focus{
							width: 100%!important;
							transition:All 1s ease!important;
							-webkit-transition:All 1s ease!important;
							-moz-transition:All 1s ease!important;
							-o-transition:All 1s ease!important;
						}


						.pg-contato .contato-pg-contato .area-form-contato .form  .area-mesagem{
							height: 115px;
							position: relative;
						}
						.pg-contato .contato-pg-contato .area-form-contato .form .form-group .form-control{
							background: transparent;
							border-radius: 0;
							border-color: #fff;
							width: 100%;
							height: 40px;
							color: #fff;
							padding: 5px;
						}
						#form-control::-webkit-input-placeholder {
							color: #fff!important;
							text-align: left!important;
							text-transform: uppercase;
							font-weight:bold;							
							letter-spacing: 4px;
							padding:0 10px;

						}

						:-moz-placeholder {
							color: #fff!important;
							text-align: left!important;
							font-weight:bold;							
							letter-spacing: 4px;
							text-transform: uppercase;
							padding:0 10px;

						}

						::-moz-placeholder {
							color: #fff!important;
							text-align: left!important;
							font-weight:bold;							 
							letter-spacing: 4px; 
							padding:0 10px;

						}

						:-ms-input-placeholder {  
							color: #fff!important;
							text-align: left!important;
							text-transform: uppercase;
							font-weight:bold;							 
							letter-spacing: 4px; 
							padding:0 10px;

						}
					.pg-contato .contato-pg-contato .area-form-contato .form .form-group .mesagem{
						background: transparent;
						border-radius: 0;
						border-color: #fff;
						width: 100%;
						height: 115px;
						color: #fff;
						padding: 5px;
						text-align:left;
						max-width: 100%;
						max-height: 115px;
					}
						.pg-contato .contato-pg-contato .area-form-contato .form .form-group .mesagem:focus ~ .border-focus{
							width:100%!important;
							-webkit-transition:All 1s ease!important;
							-moz-transition:All 1s ease!important;
							-o-transition:All 1s ease!important;
						}
							.pg-contato .contato-pg-contato .area-form-contato .form .area-mesagem .border-focus{
								position: absolute!important;
								display: block!important;
								width: 0%!important;
								height: 2px!important;
								bottom: 0!important;
							}
					#mensagem::-webkit-input-placeholder {
							color: #fff!important;
							text-align: left!important;
							text-transform: uppercase;
							font-weight:bold;							
							letter-spacing: 4px;
							padding: 0 10px;

						}

						:-moz-placeholder {
							color: #fff!important;
							text-align: left!important;
							font-weight:bold;							
							letter-spacing: 4px;
							text-transform: uppercase;
							padding: 0 10px;

						}

						::-moz-placeholder {
							color: #fff!important;
							text-align: left!important;
							font-weight:bold;							 
							letter-spacing: 4px; 
							padding: 0 10px;

						}

						:-ms-input-placeholder {  
							color: #fff!important;
							text-align: left!important;
							text-transform: uppercase;
							font-weight:bold;		
							padding: 0 10px;					 
							letter-spacing: 4px; 

						}
					.pg-contato .contato-pg-contato .area-form-contato .form .enviar{
						background: transparent;
						border: solid 1px #fff;
						color: #fff;
						width: 250px;
						height: 40px;
						font-weight: bold;
						font-size: 18px;
						text-transform: uppercase;
						font-style: italic;
						letter-spacing: 3px;
					    border-bottom: solid 2px;
					    margin-top:10px;
					}
						.pg-contato .contato-pg-contato .area-form-contato .form .enviar:hover{
							background: #fff;
							color:#42a7ff;
							border-color:#fff;
						}
			.pg-contato .info-endereco-contato-pg-contato {
				
			}
				.pg-contato .info-endereco-contato-pg-contato .col-md-6{
						text-align:center;
					    padding: 30px 10px;
					}
						.pg-contato .info-endereco-contato-pg-contato .col-md-6  p{
					     	line-height: 35px;  
							font-family: 'barbarowestern';
							color: #42a7ff;
							font-size: 40px;
						}
							.pg-contato .info-endereco-contato-pg-contato .col-md-6  span{
								font-size: 25px;
								font-family: 'bebas_neueregular';
								display: block;
								width: 100%;
								max-width: 340px;
								margin: 0 auto;
								line-height: 30px;
							}
			.pg-contato .logo-fishnchips-inicial{
				margin: 4% 0 7%;	
			}

	/* @MEDIA */
		@media(max-width: 1445px){
			.area-texto-quem-smos .texto-quem-somos{
				position:initial;
				margin-bottom: 1px;
			}
		}
		@media(max-width:1209px){
			.pg-promoçoes .area-promocao-pg-promocao ul{
				text-align:left;
			}
			.pg-promoçoes .area-promocao-pg-promocao ul li{
			    width: 52.8%;
			}
			.pg-blog .blog .areapost-blog ul li{
			    width: 49%;
			}
			.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao .item-prato-promocao{
			    text-align: center;
			    max-width: initial;
			    width: 100%;
			}

		}
		@media(max-width:1190px){
			.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio .info-prato-cardapioDireito{
				right:0;
				max-width:initial;
			}
			.pg-cardapio .todos-pratos-cardapio ul li .foto-prato-cardapio .info-prato-cardapioEsquerdo{
				left:0;
				max-width:initial;	
			}
		}
		@media(max-width:1126px){
			.pg-inicial .area-info-inicial a{
				position:initial;
			}
		}
		@media(max-width:1024px){
			.pg-promoçoes .area-promocao-pg-promocao ul li{
				display:block;
				width: 100%!important;
			}
			.pg-promoçoes .area-promocao-pg-promocao ul .conteudo{
				display:block;
				width: 100%!important;
			}
			.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao .item-prato-promocao{
			    text-align: center;
			    max-width: initial;
			    width: 100%;
			}
			.pg-promoçoes .area-promocao-pg-promocao .titulo-promocao p,.pg-promoçoes .area-promocao-pg-promocao .titulo-promocao span{
				max-width: initial;
				text-align: center;
			}
			.pg-clube .info-conheca-clube{
				right:0;
				top:2%;
			    background: rgba(0, 0, 0, 0.71);
			}
			.pg-clube .info-conheca-clube p,.pg-clube .info-conheca-clube small{
				font-size: 40px;
			}
		}
		@media(max-width:1068px){
			.pg-inicial .blog-inicial ul li{
				max-width: initial!important;
				width: 49%;
				margin:1px 0;
			}
			.pg-inicial .blog-inicial ul{
				text-align:left;
			    font-size: 8px;
			}

		}
		@media(max-width:991px) {
			.pg-inicial .area-info-inicial{
				width:100%;
				text-align:center;
			}
			.pg-inicial .area-info-inicial span{
				max-width: initial;
			}
			.pg-inicial .area-info-inicial a{
				margin: 20px auto;
			}
			.pg-inicial .clube-inicial .info-club-inicial{
			    margin: 0 auto 70px;
			}
			.pg .logo-fishnchips-inicial{
				height: 300px;
			}
			.area-texto-quem-smos span{
				font-size: 35px;
			    text-align: center;
			}
			.pg-inicial .carrossel-destaque-inicial .item .area-posicao-texto-inicial{
				position: initial;
				width:100%;
				 padding:153px 20px 0;
			}
			.pg-inicial .carrossel-destaque-inicial .item .area-posicao-texto-inicial h2{
				text-align:center;
				position: initial;
				max-width: initial;
				font-size: 50px;

			}
			.pg-inicial .carrossel-destaque-inicial .item .area-posicao-texto-inicial p{
				text-align:center;
				position: initial;
				max-width: initial;
				font-size: 20px;
			}
			.itegrnates-quem-somos ul li{
			    width: 49.3%;
			}
			


		}
		@media(max-width: 960px){
			.pg-cardapio .todos-pratos-cardapio ul li{
				width: 100%;
			}
		}
		@media(max-width:768px) {
			.topo{
			    left: -190px;
			}
			.topo .nav{
				overflow:auto;
			}
			.pg-clube .sub-titulo-descricao-paginas{
				margin-top: 100px;
			}
			body{
				padding-left:0; 
			}
			.topo .nav .botao-menu-ativo{
				display: block;
			}
			.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item .info-carrossel-promocao{
				position: initial;				
				margin: 20px auto;
			}
			.pg-inicial .promocoes-inicial .carrossel-promocoes-inicial .item{
			    padding-top: 70px;
			}
			.pg-inicial .blog-inicial ul li{
				display: block;
				width: 100%;
			}
			.pg-quem-somos .sub-titulo-descricao-paginas{
				text-align: center;
			}
			.area-texto-quem-smos p{
				padding: 0;
			}
			.itegrnates-quem-somos ul li{
				display: block;
				width: 100%;
			}
			.area-texto-quem-smos .texto-quem-somos{
				position:initial;
			}
			.itegrnates-quem-somos ul li .nome-cargo-itegrante-quem-somos{
				text-align:center;
			}
			.pg-blog .blog .areapost-blog ul{
				text-align: center;
			}
			.pg-blog .blog .areapost-blog ul li .post-blog .lente-post-blog{
				padding: 30px 0;
			}
			.pg-postagem .area-post .redessociais-postagem{
				text-align:center;
			}
			.rodape .mapa .info-rodape .info-contato-endereco,.rodape .mapa .info-rodape .horario-atendimento{
				text-align:center;
			}
			.pg-contato .contato-pg-contato .area-form-contato{
				padding: 20px;
			}
			.pg-contato .contato-pg-contato .area-form-contato .form .enviar{
				width: 100%;
			}
			.pg-inicial .clube-inicial .lente-clube-inicial .modal-club-valores-text-inicial-clube-inicial i{
				display: none;
			}
			.pg-inicial .cardapio-inicial .carrossel-cardapio-inicial .item{
				padding: 0;
			}
			.pg-clube .area-sobre-clube .borda-foto-clube{
				border:none;
			}
			.pg-produto li{
				width: 100%!important;
			}

		}
		@media(max-width: 640px){
			.pg-promoçoes .area-promocao-pg-promocao ul{
				display:block;
			}
			.pg-promoçoes .area-promocao-pg-promocao .foto-prato{
				height: 244px!important;	
			}
			.rodape .mapa .redessociais{
			    bottom: 3px;
			    top:initial;
			    left: 50%;
			    width: 212px;
  				transform: translateX(-50%);
			}
			.rodape .mapa .redessociais a{
				width: 50px;
				height: 50px;
			    display: inline-block;
			}

		}
		@media(max-width: 502px){
			.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial{
				text-align:center;
			}
			.pg-inicial .carrossel-club-valores-inicial .club-valores-ul-inicial li .club-valores-text-inicial p{
				top: 64%;
			}
			.pg-promoçoes .carrossel-dias-promocoes .item .dia-semana-promocoes p{
				font-size: 30px;
			}
			.pg-promoçoes .area-promocao-pg-promocao .itens-prato-promocao .item-prato-promocao p{
				text-align:center;
			}
			.pg-promoçoes .area-promocao-pg-promocao ul li{
				min-height: 244px;
			}
			
			.pg-clube .area-sobre-clube .foto-fundo-sobre-clube .info-quem-somos-clube p{
				font-size: 30px;
			}
			.pg-clube .area-sobre-clube .foto-fundo-sobre-clube .info-clube,.pg-clube .area-info-sobre-clube .foto-fundo-info-sobre-clube .info-texto-clube{
				text-align:center;
			}
			.pg .sub-titulo-descricao-paginas{
				font-size: 37px;
				line-height: 40px;
				margin: 150px 30px 0;
			}
			.pg-blog .sub-titulo-descricao-paginas{
				margin-top: 50px;
			}
			.pg-blog .blog .areapost-blog ul li{
				display: block;
				width: 100%;
			}
			.pg-postagem .area-post .botoes a{
			    margin: 10px 5px;
			}
			.rodape .mapa .info-rodape .info-contato-endereco a{
			    font-size: 17px;
			    display: block;
			}
			.rodape .mapa .info-rodape .formulario-rodape .titutlo-formulario-rodape{
				text-align:right;
			}
			.pg-inicial .carrossel-destaque-inicial .item .area-posicao-texto-inicial h2{
				font-size: 35px;
			}
			.pg-inicial .carrossel-destaque-inicial .item{
			    height: 600px;
			}
			.pg-inicial .carrossel-destaque-inicial{
				height: 600px;
			}

		}

		span.wpcf7-not-valid-tip{
			text-align: left;
		}

	